/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;

}

h1 {
	color: #6A8185;
  font-size: 80px;
  font: 'Arial' serif;
  border-bottom-style: solid;
  border-bottom-color: #84A2A6;
  border-bottom-width: thin;
}
h2 {
	color: #6A8185;
  font-size: 33px;
  font-family: 'Bakersville', serif;
}
p{
	color: #4B5C5E;
  font-family: 'Bakersville', serif;
}
.wrapper {
	width: 960px;
	margin:  auto;
	background: #fff;
	padding:  45px 20px;
}

/*.header {
	font-size: 150%
}*/
img {
	border:5px solid #84A2A6;
}
/* Write all remaining styles here */
